$breakpoint-mobile-small: 23.43rem; //375
$breakpoint-mobile: 25.875rem; //414
$breakpoint-tablet: 45rem; //720
$breakpoint-laptop: 85.5rem; //1368

@mixin if-mobile-small {
  @media screen and (min-width: 5rem) and (max-width: $breakpoint-mobile-small) {
    @content;
  }
}

@mixin if-mobile-medium {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin if-mobile {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin if-tablet {
  @media screen and (max-width: $breakpoint-laptop) {
    @content;
  }
}
