@import "../../styles/index";

.middle-container {
  display: flex;
  flex-direction: column;
  padding-top: spacing("lg");
  margin: 0 spacing("xl");
  max-width: var(--size--middle-container-width);

  @include if-tablet-mini {
    width: 90%;
  }

  @include if-mobile {
    max-width: 90%;
  }
}
