@import "../../styles/index";

.experience {
  background-color: var(--color--main-black);
  display: flex;
  flex-direction: column;
  padding: spacing("2xl");

  &__single-job {
    display: flex;
    justify-content: space-between;
    padding-top: spacing("md");
    padding-bottom: spacing("md");
    border-bottom: 1.5px solid var(--color--light-grey);

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    @include if-mobile {
      flex-direction: column;
    }
  }

  &__position-date {
    display: flex;
    flex-direction: column;
    width: 17.5rem;

    @include if-tablet-mini {
      width: 8.75rem;
    }
  }

  &__period {
    background-color: var(--color--gold);
    padding: spacing("5xs") spacing("4xs");
    margin-top: spacing("lg");
    width: fit-content;

    @include if-tablet-mini {
      width: 5.625rem;
    }
  }

  &__description {
    color: var(--color--grey-text);
    max-width: 33.5rem;

    @include if-tablet-mini {
      max-width: 30rem;
    }

    @include if-mobile {
      margin-top: spacing("md");
    }
  }
}
