.menu-button {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  background: none;
  border: none;

  &.absolute {
    position: absolute;
    right: 5%;
    top: 1%;
  }

  &:hover, :focus {
    background: var(--color--grey)
  }
}
