@import "../../styles/index";

.cv-button {
  align-items: center;
  background-color: var(--color--gold);
  color: var(--color--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  font-weight: 600;
  font-size: font-size("xs");
  padding: 0 spacing("3xl");
  text-decoration: none;
}
