#root {
  background-color: #c7c7c7;

  --color--black: #18191b;
  --color--main-black: #252627;
  --color--grey: #3a3b3c;
  --color--light-grey: #767676;
  --color--grey-text: #b0b0b0;
  --color--gold: #fdb301;
  --color--white: #fdfdfe;
  --color--green: #7eb942;


  --size--small-icon: 2.5rem;

  --size--item-width: 13.75rem;
  --size--middle-container-width: 60.625rem;
}
